* {
    margin: 0;
}

body {
    background-color: #c2b7b7;
}

.heading {
    font-size: 50px;
    text-align: center;
}

.navbar {
    background-color: black;
    margin: 10px;
    padding: 10px;
}

.navbar ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    list-style: none;
    gap: 10px;

}

#basic {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid #444;
    padding: 10px;
    margin: 15px;
}

#posted {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
}

#dif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 20px;
}

#relatedpost {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

table,
td,
th {
    border: 1px solid;
}

/* .usercomment {
    background-color: white;
    margin: 20px;
    width: 100px;
    padding: 10px;
    
} */
.usercomment {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

#commentheader {
    font-family: 10px;
    margin: 20px;
}

#copyright {
    margin: 10px;
    font: size 20px;
    ;
}

#Username {
    display: flexbox;
    margin: 10px;
    width: 1850px;
}

#Comment {
    margin: 10px;
    width: 1850px;
}